body {
    width: 100%;
    max-width: 320px;
    background-color: black;
    margin: 0;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

h2 {
    font-size: 20px;
}

th, td {
    position: relative;
    border: 2px solid #ddd;
    padding: 20px;
    text-align: center;
}

th.section {
    background-color: white;
    color: white;
}

.display-none {
    display: none;
}

/***** HEADER *****/

h1 {
    margin-top: 50px;
    text-align: center;
    font-family: "thrillers", sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
}

.voir-regle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: white;
    margin-bottom: 20px;
}

.voir-regle p{
    font-family: "ff-nexus-mix", sans-serif;
    padding: 20px;
}

/**** MODAL *****/

/* Joueurs */

.modal {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px black;
    background-color: white;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.modal p {
    text-align: center;
    font-family: "thrillers", sans-serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.7px;
    margin-bottom: 20px;
}


.modal button {
    color: none;
    background-color: white;
    border: none;
}

/* NomJoueurs */

.modal-nomJoueur {
    background-color: white;
}

.modal-nomJoueurTitre {
    padding: 20px;
}

.modal-nomJoueurTitre p {
    text-align: center;
    font-family: "thrillers", sans-serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.7px;
}

.modal-nomJoueurInput {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: white;
    margin-bottom: 20px;
}

.modal-nomJoueur input {
    width: 100px;
    background-color: black;
    color: white;
    border: 2px solid black;
    text-align: center;
    font-family: "ff-nexus-mix", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-left: 13px;
}

.conteneur-joueur {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.conteneur-joueur input {
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    font-family: "ff-nexus-mix", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

div.conteneur-joueur .nom-joueur {
    color: black;
    background-color: white;
    border-radius: 20px;
}

.nom-joueur {
    outline: none;
    border: none;
    width: 30%;
    margin-right: 10px;
    color: white;
}

.bordure-rouge {
    border: 2px solid red;
}

.nomJoueur div.bouton-jouer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: white;
    margin-top: 20px;
}

.bouton-jouer div {
    background-color: black;
    height: 30px;
    width: 135px;
    color: white;
    font-family: "ff-nexus-mix", sans-serif;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;

}
/* Regles */

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}

.regles {
    background-color: white;
    position: absolute;
    color: black;
    padding: 30px;
    font-family: "indivisible", sans-serif;
    z-index: 3;
}

.regles h2, p{
    margin: 0;
}

.materiel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.ok {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 30px;
    padding: 15px;
}

.ok p {
    color: white;
    font-family: "indivisible", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

/* Tour */

.modal-premierTour {
    height: 250px;
    width: 250px;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    padding: 40px;
}

.modal-premierTour p {
    text-align: center;
    font-family: "thrillers", sans-serif;
    font-size: 40px;
    letter-spacing: 0.7;
}

.TourPremierJoueur {
    margin-top: 40px;
    text-align: center;
    font-family: "ff-nexus-mix", sans-serif;
    font-size: 45px;
}

.bouton-ok {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 10%;
    height: 40px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 8px;
    font-family: "indivisible", sans-serif;
    font-size: 18px;
    font-weight: 700;
}


/**** PRESET ****/

#Preset {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

.TableauScore-joueur {
    display: flex;
    align-items: center;
    width: 48%;
    height: 30px;
    background-color: white;
}

.TableauScore-joueur .nom-joueur {
    width: 45%;
    color: black;
    text-align: center;
}

.score-joueur {
    color: black;
}

.TableauScore-joueur.display-none {
    display: none;
}

/***** Tableau *****/

/* Général */

.blanc {
    color: white;
}

.scorebonus {
    background-color: white;
    font-weight: 700;
}

.scorebonus p {
    color: grey;
    font-weight: 400;
}

.total {
    background-color: white;
    font-weight: 700;
}

table .nom-joueur {
    color: black;
    background-color: white;
}

tbody td.visible {
    width: 50%;
}

.select-grise {
    background-color: #f2f2f2;
    opacity: 0.5;
}

/* select, checkbox */

select {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
    font-family: "ff-nexus-mix", sans-serif;
    font-weight: 400;
    font-size: 18px;
    appearance: none;
}

.mult select, .chance select {
    padding: 0% 5% 5% 18%;
}

.val select {
    padding: 0% 5% 5% 5%;
}

/**** Ancre score ****/

.ancre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    background-color: white;
    height: 50px;
}

.ancre p {
    font-family: "ff-nexus-mix", sans-serif;
    font-size: 18px;
}

.ancre.display-none {
    display: none;
}

/**** Aide-Tableau ****/

tbody p {
    font-family: "indivisible", sans-serif;
    font-size: 16px;
    color: white;
    margin-top: 15px;
}

.aide {
    color: grey;
}

h3 {
    margin: 0;
}

#info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 0px 0px 30px;
}
